* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.left, .right {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.left {
  background-image: url('../img/backVer.jpeg');
}

.right {
  background-image: url('../img/backInv.jpg');
}

/* Contenedor principal */
.main-container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 1rem; /* Puedes reducir a 0.5rem si prefieres más compactación */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 450px; /* Puedes reducir esto a un valor más bajo si quieres menos ancho */
  width: 100%;
  margin: auto;
}

#menu-enlaces {
  margin-bottom: 20px;
}

#menu-enlaces a {
  white-space: nowrap;
  font-size: 1.1rem;
  cursor: pointer;
}

/* Estilo del formulario */
form.inicio { 
  background: #ffffff;
  padding: 1rem;
}

/* Estilo de las tarjetas */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}
.container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 1rem; /* Puedes reducir a 0.5rem si prefieres más compactación */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 450px; /* Puedes reducir esto a un valor más bajo si quieres menos ancho */
  width: 100%;
  margin: auto;
}

/* Footer */
.site-footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  margin-top: auto; /* Empuja el footer al final */
}

.site-footer .collapse {
  margin-top: 1rem;
}

.site-footer button {
  width: 100%;
  max-width: 600px;
}
