/* General */
body {
  font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar h5 {
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebar ul li a {
  color: #28a745;
  font-size: 0.9rem;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

/* Carrusel */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

/* Sección Descripción */
.section-description {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.fab {
  font-size: 1.5rem;
  color: #007bff; /* Cambia el color */
}
.fab:hover {
  color: #28a745; /* Cambia el color al pasar el cursor */
}

/* Footer */
footer {
  font-size: 0.9rem;
}
