* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh; /* Altura completa de la ventana */
  display: flex;
  flex-direction: row; /* Divide el espacio horizontalmente */
}

.left, .right {
  width: 50%; /* Ocupa la mitad del ancho */
  height: 100%; /* Toda la altura */
  background-size: cover; /* Ajusta la imagen para cubrir todo el área */
  background-position: center; /* Centra la imagen en cada sección */
  background-repeat: no-repeat; /* No repite la imagen */
  
}

.left {
  background-image: url('../img/backVer.jpeg'); /* Imagen izquierda */
  position: relative; /* Permite el centrado del contenido interno */
}

.right {
  background-image: url('../img/backInv.jpg'); /* Imagen derecha */
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  padding: 1rem !important; /* Asegurar que se aplique */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px !important; /* Asegurar que se aplique */
  width: 100% !important; /* Ancho adaptable */
}

header.header {
  text-align: center;
  padding: 2rem;
  background-color: #396692;
  color: white;
}

form.inicio { 
  background: #ffffff;
  padding: 1rem;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  transition: transform 0.3s ease;
  transform: translateY(1s);
}
